//  fonts

@import url("https://use.typekit.net/stg1zlr.css");

//  color vars

$color-white: #ffffff;
$color-red-light: #FA6980;
$color-red: #aa6980;
$color-grey: #A6ADB4;
$color-grey-light: #c8cfd6;


//  reset styles

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

//  structure

body {
    font-family: "Acumin Pro", Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.relative {
    position: relative;
}

.btn {
    background-color: $color-red-light;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    color: $color-white;
    &:hover {
        background-color: $color-red;
    }
}

//  fonts

.upper {
    text-transform: uppercase;
}


@media all and (max-width: 1200px) {
    .container {
        padding: 0 40px;
    }
}
