header {
    padding: 0 20px;
    font-size: 20px;

    & div:first-of-type {
        justify-content: space-between;
    }

    .logo {
        a {
            color: $color-red-light;
        }
    }
}

nav {
    ul {
        li {
            &:last-child {
                margin-left: 40px;
            }

            a {
                margin: 0 20px;

                &:visited {
                    color: $color-grey;
                }
            }
        }
    }
}

#mobile-menu-button {
    display: none;
}

#mobile-menu {
    display: none;

    &.open {
        display: block;
        animation-name: appear;
        animation-duration: 2s;
    }

    @keyframes appear {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

}

@media all and (max-width: 1200px) {
    header {
        font-size: 18px;
    }
    #more-news {
        flex-direction: column;

        .main-photo {
            width: 100%;
        }

        #news {
            width: 100%;
            margin-left: 0;
        }
    }
    nav {
        ul {
            li {
                &:last-child {
                    margin-left: 20px;
                }

                a {
                    margin: 0 10px;
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
    body {
        margin: 0;
    }
    header {
        font-size: 12px;
    }
    nav {
        ul {
            padding-left: 0;

            li {
                display: none;

                &:last-child {
                    display: block;
                }

                a {
                    margin: 0 10px;
                }
            }
        }
    }
    #mobile-menu-button {
        display: block;
    }
    #mobile-menu {
        //display: block;
        ul {
            padding-left: 0;

            li {
                margin-bottom: 40px;

                img {
                    margin-right: 40px;
                }

                a {
                    text-transform: uppercase;
                    color: $color-grey;
                    font-size: 14px;
                }
            }
        }
    }
}
