header {
    justify-content: space-between;
    padding: 0 20px;
    font-size: 20px;
    .logo {
        a {
            color: $color-red-light;
        }
    }
}

nav {
    ul {
        li {
            &:last-child {
                margin-left: 40px;
            }
            a {
                margin: 0 20px;
                &:visited {
                    color: $color-grey;
                }
            }
        }
    }
}

@media all and (max-width: 1200px) {
    #more-news {
        flex-direction: column;
        .main-photo {
            width: 100%;
        }
        #news {
            width: 100%;
            margin-left: 0;
        }
    }
}
