//  extend

%font16bold {
    font-size: 16px;
    font-weight: bold;
}

%font24bold {
    font-size: 24px;
    font-weight: bold;
}

%imgResponsive {
    width: 100%;
    height: auto;
    display: block;
}

//

.responsive-img {
    @extend %imgResponsive;
}

.main-photo {
    width: calc(7 / 12 * 100% - 50px);
    margin-right: 50px;
    color: $color-white;

    img {
        @extend %imgResponsive;
    }
}

.main-photo-content {
    position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    transform: translateY(20%);

    h2 {
        padding-bottom: 30px;
        border-bottom: 1px solid $color-white;
    }

    p {
        font-size: 12px;
        line-height: 2em;
        padding-bottom: 20px;
    }
}

#news.slider-wrapper {
    width: calc(5 / 12 * 100% - 50px);
    margin-left: 50px;

    h2 {
        @extend %font24bold;
        border-bottom: 1px solid $color-grey;
    }

    h3 {
        @extend %font16bold;
        color: $color-red-light;
    }
}

.article-title {
    @extend %font16bold;
}

.article-time {
    display: flex;
    align-items: center;
    color: $color-grey-light;
    p {
        margin-left: 10px;
    }
    a {
        text-decoration: underline;
        font-style: italic;
        color: $color-grey-light;
    }
}

#trending.slider-wrapper {
    h3 {
        @extend %font16bold;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;

        div {
            padding: 30px;
        }
    }
}

//  slider nav customizing

.swiper-button-prev {
    right: 50px;
    left: unset;
}

.swiper-button-next,
.swiper-button-prev {
    background-size: 10px 17px;
}

//  happening

.large-article-box {
    width: calc(8 / 12 * 100% - 20px);
    margin-right: 20px;

    & div:first-child {
        margin-bottom: 30px;
    }

    .large-article-desc {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $color-white;
    }
}

.small-article-box {
    width: calc(4 / 12 * 100% - 20px);
    margin-left: 20px;

    h4 {
        margin-block-start: 1em;
        margin-block-end: 0;
    }
}

@media all and (min-width: 601px) and (max-width: 1200px) {

    .swiper-slide {
        display: flex;

        div:first-child {
            margin-right: 40px;
        }
    }


    #happening {
        & > div {
            flex-direction: column;
        }

        .large-article-box {
            width: 100%;
            margin-bottom: 40px;
        }

        .small-article-box {
            display: flex;
            width: 100%;
            margin-left: 0;
            flex-wrap: wrap;

            & div:nth-child(2n - 1) {
                flex-basis: calc(50% - 20px);
                margin-right: 20px;
            }

            & div:nth-child(2n) {
                flex-basis: calc(50% - 20px);
                margin-left: 20px;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .main-photo-content {
        left: 20px;
        top: 20px;
        right: 20px;
        bottom: 20px;
        transform: none;
        h2, h3 {
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
        }
        h2 {
            font-size: 18px;
            padding-bottom: 10px;
        }
        h3 {
            font-size: 16px;
        }
        p {
            padding-bottom: 0;
        }
    }
    #happening {
        & > div {
            flex-direction: column;
        }
    }
    .large-article-box {
        width: 100%;
        margin-bottom: 40px;
        border-bottom: 1px solid $color-grey-light;
        padding-bottom: 40px;
    }
    .small-article-box {
        width: 100%;
        margin-left: 0;

        & div:nth-child(2n - 1) {
            flex-basis: 100%;
            margin-right: 0;
        }

        & div:nth-child(2n) {
            flex-basis: 100%;
            margin-left: 0;
        }
    }
}
